Pillow
h5py
bcolz
keras==2.1.5
tqdm
kaggle-cli
isoweek
pandas_summary
torchtext
graphviz
sklearn_pandas
# opencv-python
git+https://github.com/ncullen93/torchsample.git
nibabel
tensorboardX
s3fs
python-resize-image
nltk
